<p-toast position="top-right"></p-toast>
<div class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-6 w-full">
  @for (prod of products | slice : start : (end || products.length) ; track
  prod.id) {
  <div
    class="card bg-white shadow-md rounded-[10px] p-2 cursor-pointer"
    [routerLink]="['/product-details', formatTitle(prod.title!), prod.id]"
  >
    <div class="img-holder bg-[#F1F1F1] rounded-[5px] w-full mb-2 relative">
      <img
        [src]="prod.imageCover"
        class="w-full h-[275px] object-contain"
        [alt]="prod.title"
      />
      @if(prod.price && prod.priceAfterDiscount){
      <div
        class="bg-main-color w-fit px-2 text-white absolute bottom-5 left-2 rounded-[2.5px]"
      >
        <h5 class="text-[1.5rem]">
          {{ calculateDiscount(prod.price, prod.priceAfterDiscount) }}
        </h5>
      </div>
      }
      <button
        class="w-[2.5rem] h-[40px] bg-white border absolute top-3 right-3 flex justify-center items-center z-30 rounded-full cursor-pointer text-main-color"
        (click)="$event.stopPropagation()"
        (click)="addRemoveWishlist(prod.id!)"
        [disabled]="isloadingWishlist()"
      >
        @if (isloadingWishlist() === prod.id ) {
        <i class="fa-solid fa-spinner fa-spin"></i>
        }@else {
        <i
          class="pi"
          style="font-size: 1.25rem"
          [class]="{
            'pi-heart-fill': wishlistdata().includes(prod.id!),
            'pi-heart': !wishlistdata().includes(prod.id!)
          }"
        ></i>
        }
      </button>
    </div>
    <div class="caption p-2 text-text-color">
      <h4 class="text-[24px] line-clamp-1">
        {{ prod.title }}
      </h4>
      <span class="flex items-center mb-1"
        ><i class="pi pi-star-fill text-[#FFC000] me-2 mb-1"></i>
        <span>{{ prod.ratingsAverage }}</span>
        <span class="text-secText-color text-xs ms-1"
          >({{ prod.ratingsQuantity || "500" }}+)</span
        ></span
      >
      <div class="flex justify-between items-center">
        <h5 class="text-[20px]">
          <span class="text-main-color me-2">{{
            prod.priceAfterDiscount || prod.price + " EGP"
          }}</span
          >@if(prod.priceAfterDiscount){
          <span class="line-through text-secText-color">{{
            prod.price + " EGP"
          }}</span>
          }
        </h5>
        <button
          class="main-btn m-0 p-0 h-[2rem] w-[2rem] rounded-[.3125rem] flex items-center justify-center disabled:text-secText-color"
          (click)="$event.stopPropagation()"
          (click)="addToCart(prod.id!)"
          [disabled]="isloadingCart() === prod.id"
        >
          @if (isloadingCart() === prod.id) {
          <i class="fa-solid fa-spinner fa-spin"></i>
          }@else {
          <i class="pi pi-plus"></i> }
        </button>
      </div>
    </div>
  </div>
  }
</div>
