<div class="h-[88px]"></div>
<section class="container max-w-full py-10">
  <h2 class="text-text-color text-[40px] flex items-center mb-6">
    Wish List
    <span class="ms-3 text-main-color text-[18px]">
      {{ wishlistData()?.length || "0" }} items</span
    >
  </h2>
  <div class="card">
    @if (wishlistData()) {
    <p-dataview #dv [value]="wishlistData()!" [emptyMessage]="' '">
      <ng-template #list let-items>
        <div class="grid xl:grid-cols-12 gap-4 grid-nogutter">
          @for (item of wishlistData();; track $index; let first = $first) {
          <div class="col-span-6">
            <div
              class="flex flex-col sm:flex-row sm:items-center p-4 sm:p-6 gap-4"
              [ngClass]="{
                      'border-t border-surface-200 ': !first,
                      'xl:border-none': !first,
                    }"
            >
              <div class="sm:w-40 relative">
                <img
                  class="block xl:block mx-auto rounded-border w-full"
                  [src]="item.imageCover"
                  [alt]="item.title"
                />
              </div>
              <div
                class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-4"
              >
                <div
                  class="flex flex-row md:flex-col justify-between items-start gap-1"
                >
                  <div>
                    <span class="font-medium text-secondary text-sm">{{
                      item.category?.name
                    }}</span>
                    <div class="text-lg font-medium text-surface-900 mt-2">
                      {{ item.title?.split(" ", 3)?.join(" ") }}
                    </div>
                  </div>
                  <div class="bg-surface-100 p-1" style="border-radius: 30px">
                    <div
                      class="bg-surface-0 flex items-center gap-2 justify-center py-1 px-2"
                      style="
                        border-radius: 30px;
                        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
                          0px 1px 2px 0px rgba(0, 0, 0, 0.06);
                      "
                    >
                      <span class="text-surface-900 font-medium text-sm">{{
                        item.ratingsAverage
                      }}</span>
                      <i class="pi pi-star-fill text-yellow-500"></i>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col md:items-end gap-4">
                  <span class="text-xl font-semibold text-surface-900">{{
                    item.price + "EGP"
                  }}</span>
                  <div
                    class="flex justify-between md:justify-normal flex-row-reverse md:flex-row gap-2"
                  >
                    <button
                      (click)="confirmDeleteItem(item.id!)"
                      class="h-[40px] px-3 border border-main-color text-main-color bg-white hover:bg-main-color hover:text-white transition-colors duration-300 flex justify-center items-center rounded-[10px]"
                    >
                      <i class="pi pi-trash"></i>
                    </button>

                    <p-button
                      (onClick)="addToCart(item.id!)"
                      [disabled]="isloading() === item.id"
                      [icon]="
                        isloading() === item.id
                          ? 'fa-solid fa-spinner fa-spin'
                          : 'pi pi-shopping-cart'
                      "
                      class="flex-auto md:flex-initial whitespace-nowrap"
                      [label]="isloading() === item.id ? '' : 'Add To Cart'"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          } @empty {
          <div
            class="h-[300px] col-span-12 px-10 flex justify-center items-center text-center"
          >
            <h4>
              You have currently <span class="font-semibold">0 items</span> in
              your Wishlist.
              <a routerLink="/shop"
                ><span class="underline me-2">Go To Shop</span>
                <i class="fa-solid fa-arrow-right-long"></i
              ></a>
            </h4>
          </div>
          }
        </div>
      </ng-template>
    </p-dataview>
    }
  </div>
</section>
<div class="card flex justify-center">
  <p-toast />
  <p-confirmdialog #cd>
    <ng-template
      #headless
      let-message
      let-onAccept="onAccept"
      let-onReject="onReject"
    >
      <div
        class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded"
      >
        <div
          class="rounded-full bg-[#ef4444] text-white inline-flex justify-center items-center h-24 w-24 -mt-20"
        >
          <i class="pi pi-trash !text-5xl"></i>
        </div>
        <span class="font-bold text-2xl block mb-2 mt-6 text-center">{{
          message.header
        }}</span>
        <p class="mb-0">{{ message.message }}</p>
        <div class="flex items-center gap-2 mt-6">
          <p-button
            label="Cancel"
            variant="outlined"
            severity="secondary"
            (click)="onReject()"
            styleClass="w-32"
          />
          <p-button
            label="Delete"
            severity="danger"
            (click)="onAccept()"
            styleClass="w-32"
          />
        </div>
      </div>
    </ng-template>
  </p-confirmdialog>
</div>
