@if(browserOnly){
<swiper-container
  slides-per-view="1"
  loop="true"
  autoplay="true"
  autoplay-delay="3000"
  pagination='{"clickable": true}'
  navigation="false"
  class="w-full h-screen"
>
  <swiper-slide>
    <div class="relative">
      <img
        src="/images/auth-slider1.jpg"
        class="w-full h-screen object-cover"
      />
      <div
        class="absolute bottom-[20%] left-[50%] -translate-x-[50%] text-white w-[90%]"
      >
        <div class="text-center">
          <h2 class="text-[2rem] font-bold mb-2">Welcome to Trendify</h2>
          <p class="text-[1.25rem]">
            Discover the latest trends,<br />
            express your unique style.
          </p>
        </div>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="relative">
      <img
        src="/images/auth-slider2.jpg"
        class="w-full h-screen object-cover"
      />
      <div
        class="absolute bottom-[20%] left-[50%] -translate-x-[50%] text-white w-[90%]"
      >
        <div class="text-center">
          <h2 class="text-[2rem] font-bold mb-2">Welcome to Trendify</h2>
          <p class="text-[1.25rem]">
            Discover the latest trends, express your unique style.
          </p>
        </div>
      </div>
      <!-- <video autoplay muted loop class="h-full w-full object-cover">
        <source src="/video-slider2.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video> -->
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="relative">
      <img
        src="/images/auth-slider4.webp"
        class="w-full h-screen object-cover"
      />
      <div
        class="absolute bottom-[20%] left-[50%] -translate-x-[50%] text-white w-[90%]"
      >
        <div class="text-center">
          <h2 class="text-[2rem] font-bold mb-2">Welcome to Trendify</h2>
          <p class="text-[1.25rem]">
            Discover the latest trends, express your unique style.
          </p>
        </div>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
}
