<header>
  <div
    class="hero-sec min-h-screen bg-[linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('/images/hero-img.webp')] bg-center bg-cover relative flex items-center"
  >
    <div class="container max-w-full">
      <div class="caption text-white">
        <h1
          class="text-[26px] md:text-[3.125rem] font-semibold mb-[1rem] sm:mb-[2rem]"
        >
          Elevate Your Home with <br />
          Stylish Furniture
        </h1>
        <p class="md:text-[1.125rem] sm:w-[600px] mb-[1rem] sm:mb-[2rem]">
          Explore a range of high-quality, affordable furniture designed to
          transform any room. Discover the perfect blend of style, comfort, and
          functionality for your space.
        </p>
        <div class="relative w-[268px] sm:w-[300px]">
          <button class="main-btn py-4">Shop Now</button>
          <svg
            width="119"
            height="151"
            viewBox="0 0 119 151"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="absolute left-[10%] sm:left-[50%] top-[65px]"
          >
            <path
              d="M4.05834 14.3631C2.19329 31.311 9.48249 49.835 19.9613 62.8856C29.9916 75.3833 47.5403 88.216 64.4 81.9795C70.5426 79.7087 75.2839 73.7866 71.6004 67.3187C68.1821 61.3085 60.7359 60.1567 55.1068 63.7707C39.9022 73.5307 49.6447 96.7487 58.4875 107.406C64.0749 114.147 71.2655 119.548 79.3072 123.021C86.767 126.239 96.1676 128.68 104.24 126.736C105.402 126.456 105.194 124.484 104.026 124.388C97.7854 123.894 91.8219 123.914 85.758 122.063C79.4642 120.143 73.5493 116.938 68.4189 112.837C58.2338 104.698 48.7959 90.6512 50.409 76.9952C51.2655 69.7575 59.3793 60.1405 67.0241 66.2337C70.12 68.7038 71.2739 73.0132 68.5033 76.1853C65.9727 79.0771 61.6179 80.2701 57.9495 80.6391C43.0061 82.1469 29.1412 70.8786 20.5716 59.7705C15.7243 53.4854 11.9501 46.4041 9.40064 38.8899C6.67039 30.8473 5.97497 22.829 5.52386 14.4251C5.47711 13.6052 4.15015 13.5305 4.05834 14.3631Z"
              fill="#8B5E35"
            />
            <path
              d="M4.38293 9.72302C-2.04102 27.5402 3.34081 47.5162 15.6556 61.4753C21.5831 68.1929 28.819 73.6318 36.699 77.8595C44.7403 82.1702 54.3655 86.3857 63.6705 86.0899C70.1624 85.8898 80.3157 81.5633 78.1535 73.3154C76.256 66.0561 66.9467 60.3241 59.6917 61.0408C51.5644 61.8439 46.7082 69.879 46.3902 77.4308C46.0094 86.4413 50.5814 95.5315 55.6184 102.749C66.6481 118.551 84.7979 129.163 104.045 130.575C105.88 130.708 106.418 127.879 104.554 127.727C90.5972 126.575 77.4324 120.768 67.0745 111.345C61.7967 106.545 57.3065 100.807 54.0123 94.4716C50.243 87.2152 46.9287 77.8986 51.1243 70.1263C55.7562 61.5459 65.7127 62.5739 72.0167 68.6704C75.6934 72.2262 77.377 76.9065 72.7159 80.5652C68.9352 83.5359 63.5455 83.7963 58.9718 83.1232C44.3225 80.958 29.1198 71.9489 19.0274 61.3009C6.37709 47.9522 -0.0242975 28.3624 6.10491 10.5301C6.50336 9.38321 4.80091 8.56036 4.38293 9.72302Z"
              fill="#8B5E35"
            />
            <path
              d="M90.6781 116.244C93.347 119.011 96.4573 121.41 99.3617 123.926C100.734 125.114 102.107 126.309 103.487 127.497C104.124 128.046 107.787 130.535 107.667 131.37C107.609 131.801 103.184 133.063 102.616 133.276C100.935 133.911 99.2533 134.546 97.5649 135.182C94.2833 136.424 90.038 137.285 87.3417 139.584C86.3757 140.406 86.8975 141.916 88.1936 141.882C90.5981 141.823 92.7562 140.67 94.983 139.81C97.5001 138.841 100.017 137.864 102.534 136.894C104.861 135.991 110.704 135.026 111.253 131.93C111.78 128.976 106.625 126.442 104.767 124.907C100.597 121.459 96.5461 117.63 92.0841 114.579C90.8994 113.765 89.6992 115.236 90.6781 116.244Z"
              fill="#8B5E35"
            />
            <path
              d="M90.2588 117.196C93.6455 119.563 97.7489 121.055 101.392 123.014C105.616 125.29 109.804 127.71 113.662 130.572C113.821 129.635 113.979 128.692 114.138 127.755C109.981 129.426 105.759 130.928 101.46 132.193C97.2831 133.426 92.423 133.749 88.5048 135.594C87.3662 136.131 87.2085 138.234 88.7553 138.344C92.8754 138.64 97.5337 136.944 101.461 135.811C106.185 134.452 110.782 132.776 115.3 130.842C116.664 130.256 116.651 128.504 115.421 127.799C111.317 125.456 107.3 123 103.087 120.841C99.299 118.902 95.1496 116.52 90.9538 115.701C90.1583 115.557 89.5432 116.703 90.2588 117.196Z"
              fill="#8B5E35"
            />
            <path
              d="M86.6947 117.067C96.1978 121.936 105.731 126.754 115.181 131.726C115.221 130.709 115.262 129.7 115.302 128.683C110.838 130.983 106.364 133.241 101.745 135.213C97.4883 137.025 92.6108 138.154 88.675 140.573C87.4313 141.336 88.2806 143.298 89.6378 143.168C94.3958 142.72 99.2542 140.155 103.579 138.245C108.105 136.247 112.557 134.06 116.837 131.582C117.938 130.944 117.628 129.226 116.578 128.742C106.893 124.252 97.2851 119.609 87.6529 115.01C86.3302 114.369 85.3903 116.397 86.6947 117.067Z"
              fill="#8B5E35"
            />
          </svg>
          <div class="absolute -bottom-[180%] -right-[30px] sm:-right-[160px]">
            <div class="flex gap-4 items-center">
              <span
                class="text-[20px] sm:text-[24px] relative after:w-[2px] after:absolute after:top-[23%] after:h-[20px] after:bg-white after:ms-2"
                >4.8</span
              >
              <div class="rating text-white">
                <i class="pi pi-star-fill"></i>
                <i class="pi pi-star-fill"></i>
                <i class="pi pi-star-fill"></i>
                <i class="pi pi-star-fill"></i>
                <i class="pi pi-star-half-fill"></i>
              </div>
            </div>
            <p class="sm:text-[20px]">150k Total Review</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="category py-[3.75rem] sm:py-sec-p">
  <app-category-slider></app-category-slider>
</section>
<section class="main-slider">
  <app-home-slider></app-home-slider>
</section>
<section class="flash-sale py-[3.75rem] sm:py-sec-p container max-w-full">
  <app-main-title>
    <span class="top">Flash Sale</span>
    <span class="bottom font-semibold">Grab Them Before They're Gone!</span>
  </app-main-title>
  <app-product-card
    [products]="allProducts"
    [wishlistIDs]="wishlistIds()"
    [start]="15"
    [end]="20"
  ></app-product-card>
  <a routerLink="/shop">
    <button
      class="flex items-center gap-2 rounded-full px-8 py-3 border border-main-color text-main-color hover:text-white hover:bg-main-color duration-300 transition-colors mx-auto mt-10"
    >
      <span class="text-[1.125rem]">See All</span>
      <i class="pi pi-chevron-right"></i>
    </button>
  </a>
</section>
<section class="collection py-[3.75rem] sm:py-sec-p container max-w-full">
  <app-main-title>
    <span class="top">New Collection</span>
    <span class="bottom font-semibold">Check the new Collection</span>
  </app-main-title>
  <div class="grid md:grid-cols-2 md:grid-rows-2 gap-5">
    <div class="row-span-2 rounded-3xl md:h-[800px] relative">
      <img
        src="/images/collection1.webp"
        class="w-full h-full object-cover rounded-3xl aspect-video md:aspect-auto"
        alt="collection-1"
      />
      <div class="absolute inset-0 bg-black opacity-60 z-10 rounded-3xl"></div>
      <div
        class="caption absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-20 text-white"
      >
        <h3 class="text-[2rem] sm:text-[3.125rem] text-nowrap">Shoes</h3>
        <h4 class="text-[1.5rem] sm:text-[2rem] text-nowrap">UP TO 50% OFF</h4>
      </div>
    </div>
    <div class="rounded-3xl md:h-[390px] aspect-video md:aspect-auto relative">
      <img
        src="/images/collection2.webp"
        class="w-full h-full object-cover rounded-3xl"
        alt="collection-1"
      />
      <div class="absolute inset-0 bg-black opacity-60 z-10 rounded-3xl"></div>
      <div
        class="caption absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-white z-20"
      >
        <h3 class="text-[2rem] sm:text-[3.125rem] text-nowrap">Bags</h3>
        <h4 class="text-[1.5rem] sm:text-[2rem] text-nowrap">UP TO 50% OFF</h4>
      </div>
    </div>
    <div class="rounded-3xl md:h-[390px] aspect-video md:aspect-auto relative">
      <img
        src="/images/collection3.webp"
        class="w-full h-full object-cover rounded-3xl"
        alt="collection-1"
      />
      <div class="absolute inset-0 bg-black opacity-60 z-10 rounded-3xl"></div>

      <div
        class="caption absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-white z-20"
      >
        <h3 class="text-[2rem] sm:text-[3.125rem] text-nowrap">Accessories</h3>
        <h4 class="text-[1.5rem] sm:text-[2rem] text-nowrap">UP TO 50% OFF</h4>
      </div>
    </div>
  </div>
</section>
<section class="products py-[3.75rem] sm:py-sec-p container max-w-full">
  <app-main-title>
    <span class="top">Products</span>
    <span class="bottom font-semibold">Best Selling Products</span>
  </app-main-title>
  <div
    class="relative bg-[#EEEEEE] p-1 rounded-full flex items-center w-fit mx-auto mb-10"
  >
    @for (cate of categories; track $index) {
    <button
      class="relative px-3 sm:px-5 py-2 rounded-full text-secText-color transition-colors duration-300"
      [class.btn-active]="selectedCategoryId === cate.id"
      (click)="setCateId(cate.id)"
    >
      {{ cate.name.split(" ", 1).join(" ") }}
    </button>
    }
  </div>
  <app-product-card
    [products]="specificProducts"
    [wishlistIDs]="wishlistIds()"
    [start]="start"
    [end]="end"
  ></app-product-card>
  <a routerLink="/shop">
    <button
      class="flex items-center gap-2 rounded-full px-8 py-3 border border-main-color text-main-color hover:text-white hover:bg-main-color duration-300 transition-colors mx-auto mt-10"
    >
      <span class="text-[1.125rem]">See All</span>
      <i class="pi pi-chevron-right"></i>
    </button>
  </a>
</section>
<section class="top-products py-[3.75rem] sm:py-sec-p container max-w-full">
  <app-main-title>
    <span class="top">Top Products</span>
    <span class="bottom font-semibold">Top Picks for You!"</span>
  </app-main-title>
  <app-product-card
    [products]="allProducts"
    [wishlistIDs]="wishlistIds()"
    [start]="23"
    [end]="33"
  ></app-product-card>
  <a routerLink="/shop">
    <button
      class="flex items-center gap-2 rounded-full px-8 py-3 border border-main-color text-main-color hover:text-white hover:bg-main-color duration-300 transition-colors mx-auto mt-10"
    >
      <span class="text-[1.125rem]">See All</span>
      <i class="pi pi-chevron-right"></i>
    </button>
  </a>
</section>
<section
  class="discover py-[3.75rem] sm:py-sec-p bg-[linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/discover.webp')] bg-top bg-cover"
>
  <div class="h-[400px] relative">
    <div
      class="absolute left-0 right-0 top-1/2 -translate-y-1/2 text-center text-white container max-w-full"
    >
      <h2 class="text-[1.75rem] md:text-[3rem] font-semibold">
        Discover Fashion That Speaks To You.
      </h2>
      <p class="text-[1.125rem] md:text-[1.5rem]">
        Explore a range of high-quality, affordable furniture designed to
        transform any room. Discover the perfect blend of style, comfort, and
        functionality for your space.
      </p>
      <a href="#">
        <button
          class="flex items-center gap-2 rounded-full px-10 py-3 border border-white text-white hover:border-main-color hover:bg-main-color duration-300 transition-all mx-auto mt-6"
        >
          <span class="text-[1.125rem]">See All</span>
        </button>
      </a>
    </div>
  </div>
</section>
<section class="services py-[3.75rem] sm:py-sec-p container max-w-full">
  <app-main-title>
    <span class="top">Services</span>
    <span class="bottom font-semibold"
      >Benefits when using <br />
      our services</span
    >
  </app-main-title>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-7">
    <div class="rounded-[.625rem] p-5 flex flex-col bg-white shadow-md group">
      <div
        class="w-[65px] h-[65px] rounded-full bg-bg-color border-4 border-main-color text-main-color group-hover:text-white group-hover:bg-main-color group-hover:border-bg-color duration-300 transition-colors flex items-center justify-center"
      >
        <i class="fa-regular fa-lightbulb text-[1.75rem]"></i>
      </div>
      <h3 class="font-semibold text-[1.25rem] text-text-color mt-3 mb-4">
        Inspiration
      </h3>
      <p class="text-[1.125rem] text-secText-color mb-8">
        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet
        purus malesuada dignissim.
      </p>
    </div>
    <div class="rounded-[.625rem] p-5 flex flex-col bg-white shadow-md group">
      <div
        class="w-[65px] h-[65px] rounded-full bg-bg-color border-4 border-main-color text-main-color group-hover:text-white group-hover:bg-main-color group-hover:border-bg-color duration-300 transition-colors flex items-center justify-center"
      >
        <i class="fa-solid fa-headphones text-[1.75rem]"></i>
      </div>
      <h3 class="font-semibold text-[1.25rem] text-text-color mt-3 mb-4">
        24/7 Customer Services
      </h3>
      <p class="text-[1.125rem] text-secText-color mb-8">
        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet
        purus malesuada dignissim.
      </p>
    </div>
    <div class="rounded-[.625rem] p-5 flex flex-col bg-white shadow-md group">
      <div
        class="w-[65px] h-[65px] rounded-full bg-bg-color border-4 border-main-color text-main-color group-hover:text-white group-hover:bg-main-color group-hover:border-bg-color duration-300 transition-colors flex items-center justify-center"
      >
        <i class="fa-solid fa-truck-fast text-[1.75rem]"></i>
      </div>
      <h3 class="font-semibold text-[1.25rem] text-text-color mt-3 mb-4">
        Express Shipping
      </h3>
      <p class="text-[1.125rem] text-secText-color mb-8">
        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet
        purus malesuada dignissim.
      </p>
    </div>
  </div>
</section>
<section class="brands">
  <div class="slider">
    <div class="list">
      @for (brand of allBrands; track $index) {
      <div class="item w-[100px] md:w-[150px] lg:w-[250px]">
        <img
          [src]="brand.image"
          [alt]="brand.name"
          class="w-full"
          decoding="async"
          width="200"
          height="100"
          loading="lazy"
        />
      </div>
      } @for (brand of allBrands; track $index) {
      <div class="item w-[100px] md:w-[150px] lg:w-[250px]" aria-hidden="true">
        <img
          [src]="brand.image"
          [alt]="brand.name"
          class="w-full"
          decoding="async"
          width="200"
          height="100"
          loading="lazy"
        />
      </div>
      }
    </div>
  </div>
</section>
