:host ::ng-deep .p-steppanel {
    background-color: transparent !important;
}

:host ::ng-deep .p-step-active .p-step-title,
:host ::ng-deep .p-step-active .p-step-number{
    color: #090F41;
}

:host ::ng-deep .p-inputicon {
    color: #8B5E35
}

:host ::ng-deep .p-inputtext:enabled:focus {
    border: 1px solid #8B5E35;
}

:host ::ng-deep .p-inputtext {
    color: #090f41;
    background-color: #fff;
    border: none;
    
}


@media (min-width:1150px ) {
    :host ::ng-deep .p-inputtext-sm {
        font-size : 1rem ;
        padding-block: 0.5rem;
        padding-inline: 0.75rem;
    }
    :host ::ng-deep .p-inputotp-input.p-inputtext-sm {
        width: 2.5rem ;
    }
}