<section class="register">
  <div class="flex min-h-screen">
    <div
      class="w-full md:w-1/2 bg-bg-color max-h-screen overflow-y-auto py-16 flex items-center"
    >
      <div
        class="w-full px-4 sm:w-[75%] sm:px-0 md:w-full md:px-4 lg:px-0 lg:w-[75%] mx-auto"
      >
        <h1 class="text-[2rem] text-text-color">Forget Password</h1>
        <p class="text-secText-color mb-5">
          Please Finish This steps in order to reset your password
        </p>
        <p-stepper [value]="activeStepIndex" [linear]="true">
          <p-step-item [value]="1">
            <p-step class="text-[18px]">Send Code</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                  <form
                    [formGroup]="userEmail"
                    class="px-2"
                    (ngSubmit)="sendCode()"
                  >
                    <div class="flex flex-col gap-2 mb-2">
                      @let emailControl = userEmail.get('email');
                      <label for="email" class="text-[1.125rem]">E-mail</label>
                      <p-iconfield>
                        <p-inputicon
                          class="fa-solid fa-envelope fa-bounce text-secondry-color"
                        ></p-inputicon>
                        <input
                          type="text"
                          pInputText
                          placeholder="E-mail"
                          class="w-full !py-3"
                          formControlName="email"
                        />
                      </p-iconfield>
                      @if (emailControl?.errors && emailControl?.touched) { @if
                      (emailControl?.getError('required')) {
                      <p-message severity="error"
                        >This field is required.</p-message
                      >
                      } @else if (emailControl?.getError('pattern')) {
                      <p-message severity="error"
                        >Please enter a valid email</p-message
                      >
                      } }
                    </div>
                    <div class="py-3 flex gap-3">
                      <button
                        type="button"
                        routerLink="/login"
                        class="px-4 py-2 border-main-color border hover:bg-main-color hover:text-white transition-colors duration-300 text-text-color rounded-md text-center"
                      >
                        Login
                      </button>
                      <button
                        type="submit"
                        [disabled]="isLoading"
                        class="bg-main-color px-4 py-2 hover:bg-secondry-color transition-colors duration-300 text-white rounded-md text-center"
                      >
                        @if (isLoading) {
                        <i class="fa-solid fa-spinner fa-spin"></i>
                        }@else {
                        <span>Send Code</span>
                        }
                      </button>
                    </div>
                  </form>
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="2">
            <p-step class="text-[18px]">Verify Code</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                  <div class="card flex mb-3">
                    <form [formGroup]="resetCode" (ngSubmit)="verifyCode()">
                      <div
                        class="flex flex-col sm:items-center sm:flex-row md:flex-col md:items-start lg:flex-row lg:items-center gap-2"
                      >
                        <label class="text-text-color text-nowrap"
                          >Enter Code</label
                        >
                        <p-inputotp
                          size="small"
                          [integerOnly]="true"
                          [length]="6"
                          formControlName="resetCode"
                        />
                      </div>
                      <div class="py-3 flex gap-3">
                        <button
                          type="button"
                          (click)="prevStep()"
                          class="px-4 py-2 border-main-color border hover:bg-main-color hover:text-white transition-colors duration-300 text-text-color rounded-md text-center"
                        >
                          Back
                        </button>
                        <button
                          type="submit"
                          [disabled]="isLoading"
                          class="bg-main-color px-4 py-2 hover:bg-secondry-color transition-colors duration-300 text-white rounded-md text-center"
                        >
                          @if (isLoading) {
                          <i class="fa-solid fa-spinner fa-spin"></i>
                          }@else {
                          <span>Verify Code</span>
                          }
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="3">
            <p-step class="text-[18px]">Change Password</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                  <form
                    [formGroup]="resetPassword"
                    (ngSubmit)="newPassword()"
                    class="px-2"
                  >
                    <div class="flex flex-col gap-2 mb-5">
                      @let passwordControl = resetPassword.get('newPassword');
                      <label for="newPassword" class="text-[1.125rem]"
                        >New Password</label
                      >
                      <p-iconfield>
                        <p-inputicon
                          class="fa-solid fa-lock fa-bounce text-secondry-color"
                        ></p-inputicon>
                        <input
                          [type]="isPasswordVisible ? 'text' : 'password'"
                          pInputText
                          placeholder="xxxxxxxxxxxx"
                          class="w-full !py-3"
                          formControlName="newPassword"
                        />
                        <p-inputicon
                          class="fa-solid text-secondry-color cursor-pointer"
                          (click)="showHidePassword()"
                          [class.fa-eye-slash]="!isPasswordVisible"
                          [class.fa-eye]="isPasswordVisible"
                        ></p-inputicon>
                      </p-iconfield>
                      @if (passwordControl?.errors && passwordControl?.touched)
                      { @if (passwordControl?.getError('required')) {
                      <p-message severity="error"
                        >This field is required.</p-message
                      >
                      } @else if (passwordControl?.getError('pattern')) {
                      <p-message severity="error"
                        >Password Must start with an uppercase letter and be at
                        least 8 characters long.</p-message
                      >
                      } }
                    </div>
                    <div class="flex flex-col gap-2 mb-5">
                      <label for="rePassword" class="text-[1.125rem]"
                        >Confirm Password</label
                      >
                      <p-iconfield>
                        <p-inputicon
                          class="fa-solid fa-lock fa-bounce text-secondry-color"
                        ></p-inputicon>
                        <input
                          [type]="isPasswordVisible ? 'text' : 'password'"
                          pInputText
                          placeholder="xxxxxxxxxxxx"
                          class="w-full !py-3"
                          formControlName="rePassword"
                        />
                        <p-inputicon
                          class="fa-solid text-secondry-color cursor-pointer"
                          (click)="showHidePassword()"
                          [class.fa-eye-slash]="!isPasswordVisible"
                          [class.fa-eye]="isPasswordVisible"
                        ></p-inputicon>
                      </p-iconfield>
                      @if (resetPassword.getError('mismatch') &&
                      resetPassword.get('rePassword')?.touched) {
                      <p-message severity="error"
                        >Passwords do not match.</p-message
                      >
                      }
                    </div>
                    <button
                      type="submit"
                      [disabled]="isLoading"
                      class="bg-main-color px-4 py-2 hover:bg-secondry-color transition-colors duration-300 text-white rounded-md text-center"
                    >
                      @if (isLoading) {
                      <i class="fa-solid fa-spinner fa-spin"></i>
                      }@else {
                      <span>Reset Password</span>
                      }
                    </button>
                  </form>
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>
        </p-stepper>
      </div>
    </div>
    <p-toast position="top-right"></p-toast>
    <div class="hidden md:block h-screen w-1/2">
      <app-auth-slider></app-auth-slider>
    </div>
  </div>
</section>
